<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-agency/3.3.7/css/agency.css">
    <link rel="stylesheet" href="/static/todo_app/index.css">
</head>

<style>


</style>

<body>
<h1>My Todo List</h1>
<form method="post" action="/todos-add/">
    {% csrf_token %}
    {{ form }}

{#    {{ form.text.label }}#}
{#    {{ form.text }}#}
{#    {{ form.description.label }}#}
{#    {{ form.description }}#}
    <button>Create</button>
</form>
{% if todos %}
    <div class="container">
        {% for todo in todos %}
            <div class="todo">
                {{ todo.id }}
                <p>{{ todo.text }}</p>
                <div class="description">
                    {{ todo.description }}
                </div>>
            <form method="post" action="/todo-change-state/{{ todo.id }}">
                {% csrf_token %}
                {% if todo.state %}
                    <div class="done">DONE</div>
                    <input type="hidden" name="state" value="false" />
                    <button>Change</button>>
                {% else %}
                    <div class="open">NOT DONE</div>
                    <input type="hidden" name="state" value="true"/>
                    <button>Change</button>>
                {% endif %}
            </form>
        </div>
        {% endfor %}
    </div>>
{% else %}
    <h2>No TODOs</h2>
{% endif %}
</body>
</html>
