{% extends 'common/base.html' %}

{% block content %}
    <h1 class="text-center">401 Unauthorized!</h1>
{% endblock %}

{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>401 ERROR</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
{#</head>#}
{#<body>#}
{##}
{#<h1 class="text-light text-center text-bottom">401 Unauthorized!</h1>#}
{##}
{#</body>#}
{#</html>#}



